#!/usr/bin/make -f
#export DH_VERBOSE=1

# http://wiki.debian.org/onlyjob/get-orig-source
PKD   = $(abspath $(dir $(MAKEFILE_LIST)))
PKG   = $(word 2,$(shell dpkg-parsechangelog -l$(PKD)/changelog | grep ^Source))
UVER  = $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')
DTYPE = +dfsg1
VER  ?= $(subst $(DTYPE),,$(UVER))

.PHONY: get-orig-source

%:
	dh $@

override_dh_auto_configure:
	# Add here commands to compile the package without gnome support.
	dh_auto_configure -- \
		--disable-schemas-install \
		--disable-gnome-support \
		--disable-gucharmap \
		--disable-advertisement \
		--disable-updateinfo \
		--disable-spell \
		--disable-gucharmap \
		--disable-festival \
		--disable-espeak \
		--disable-dictdotcn \
		--disable-man \
		--disable-qqwry \
		--disable-htmlparse \
		--disable-xdxfparse \
		--disable-wordnet \
		--disable-powerwordparse \
		--disable-wikiparse

	# Make a copy for stardict without gnome support.
	$(MAKE)
	cp dict/src/stardict stardict
	make distclean

	# Add here commands to compile the package with gnome support
	dh_auto_configure -- \
		--disable-schemas-install \
		--disable-advertisement \
		--disable-updateinfo
	$(MAKE)

override_dh_auto_clean:
	# Clean up
	rm -f stardict

override_dh_auto_test:
	# Disable check failed in tests/.

get-orig-source: $(PKG)_$(VER)$(DTYPE).orig.tar.xz $(info I: $(PKG)_$(VER)$(DTYPE))
	@

$(PKG)_$(VER)$(DTYPE).orig.tar.xz:
	@echo "# Downloading..."
	uscan --noconf --verbose --rename --destdir=$(CURDIR) --check-dirname-level=0 --force-download --download-version $(VER) $(PKD)
	$(if $(wildcard $(PKG)-$(VER)),$(error $(PKG)-$(VER) exist, aborting..))
	@echo "# Extracting..."
	mkdir $(PKG)-$(VER) \
		&& tar -xf $(PKG)_$(VER).orig.tar.* --directory $(PKG)-$(VER) --strip-components 1 \
		|| $(RM) -r $(PKG)-$(VER)
	@echo "# Cleaning-up..."
	cd $(PKG)-$(VER) \
		&& find . -depth -type f -name '*.exe' -exec $(RM) -r {} \; -printf 'removed %p\n' \
	#$(RM) -v $(PKG)_$(VER).orig.tar.*
	@echo "# Packing..."
	find -L "$(PKG)-$(VER)" -xdev -type f -print | sort \
		| XZ_OPT="-6v" tar -caf "$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX \
		&& $(RM) -r "$(PKG)-$(VER)"
