#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	# Add here commands to compile the package without gnome support.
	dh_auto_configure -- \
		--disable-schemas-install \
		--disable-gnome-support \
		--disable-gucharmap \
		--disable-advertisement \
		--disable-updateinfo

	sed -e 's/SUBDIRS = m4 src stardict-plugins/SUBDIRS = m4 src/' dict/Makefile > dict/Makefile-noplugins
	$(MAKE) -f dict/Makefile-noplugins
	# Make a copy for stardict without gnome support.
	cp dict/src/stardict stardict
	make distclean

	# Add here commands to compile the package with gnome support
	dh_auto_configure -- \
		--disable-schemas-install \
		--disable-advertisement \
		--disable-updateinfo
	$(MAKE)

override_dh_auto_clean:
	# Clean up
	rm -f stardict

override_dh_auto_test:
	# Disable check failed in tests/.
